html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  color: #3B4256;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
  z-index: 100;
}

.navigation-main {
  flex: 1;
}

.navbar,
.footer {
  box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #263148;
}

.htop {
  padding-top: 70px;
  padding-bottom: 60px;
}

a.tag-link {
  color: #007bff;
}

a.tag-link:hover {
  text-decoration: underline;
  color: #007bff;
}

.line-offset {
  line-height: 2.5;
}

.card-button {
  width: 1.5em;
  height: 1.5em;
}

.navbar-panel {
  padding: 16px 0;
}

.search {
  width: 250px;
}

.edit-form {
  padding-top: 40px;
}

.search-long {
  min-width: 400px;
}

.fix-margin {
  margin-top: -11px;
}

.btn:not([class*="btn-"]) {
  color: #3B4256;
}
.btn-trash:hover {
  color: #E53935;

}
.btn-edit:hover {
  color: #62B0FF;
}
.btn-trash,
.btn-edit {
  padding-right: 0;
}
.btn-edit:focus,
.btn-trash:focus,
.btn-video:focus,
.btn-present:focus{
  box-shadow: none;
}
.btn-present {
  color: #71BC90;
}
.btn-video {
  color: #62B0FF;
}

@media (min-width: 768px) {
  .desktop-icon {
    width: 7em;
    height: 7em;
  }

  .form-inline .form-control:not(.search-only) {
    width: inherit;
  }

  .search-long {
    min-width: 250px;
  }

  .datepicker-meeting {
    min-width: 400px;
  }

  .col-filter {
    width: auto;
  }
}

@media (min-width: 992px) {
  .desktop-icon {
    width: 9em;
    height: 9em;
  }

  .search-long {
    min-width: 400px;
  }
}

@media (min-width: 1200px) {
  .desktop-icon {
    width: 10em;
    height: 10em;
  }
}
